body {
    font-family: 'Arial', sans-serif;
    background-color: #20de16;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calendar {
    background-color: #20de16;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.month {
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #0c0b0b;
}

td {
    cursor: pointer;
}

td:hover {
    background-color: #f0f0f0;
}
