* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 80px;
    background: #016064;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #fff;
}

.questions {
    background: #48AAAD;
}

.questions-container {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    height: 95vh;
}

.question-box1 {
    background: #ffffff; /* Set the background color of the box */
    border-radius: 15px; /* Adjust the border-radius for rounded edges */
    padding: 5px; /* Add padding as needed */
    width: 50vh;
    height: 80vh;
    margin: 10px; /* Add margin to create space between the boxes */
}

.question-box2 {
    background: #ffffff; /* Set the background color of the box */
    border-radius: 15px; /* Adjust the border-radius for rounded edges */
    padding: 5px; /* Add padding as needed */
    width: 50vh;
    height: 80vh;
    margin: 10px; /* Add margin to create space between the boxes */
}
.question-box3 {
    background: #ffffff; /* Set the background color of the box */
    border-radius: 15px; /* Adjust the border-radius for rounded edges */
    padding: 5px; /* Add padding as needed */
    width: 50vh;
    height: 80vh;
    margin: 10px; /* Add margin to create space between the boxes */
}

.questions2 {
    background: #48AAAD;
}

.questions-container2 {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    height: 95vh;
}

.question-box4 {
    background: #ffffff; /* Set the background color of the box */
    border-radius: 15px; /* Adjust the border-radius for rounded edges */
    padding: 5px; /* Add padding as needed */
    width: 50vh;
    height: 80vh;
    margin: 10px; /* Add margin to create space between the boxes */
}

.question-box5 {
    background: #ffffff; /* Set the background color of the box */
    border-radius: 15px; /* Adjust the border-radius for rounded edges */
    padding: 5px; /* Add padding as needed */
    width: 50vh;
    height: 80vh;
    margin: 10px; /* Add margin to create space between the boxes */
}
.question-box6 {
    background: #ffffff; /* Set the background color of the box */
    border-radius: 15px; /* Adjust the border-radius for rounded edges */
    padding: 5px; /* Add padding as needed */
    width: 50vh;
    height: 80vh;
    margin: 10px; /* Add margin to create space between the boxes */
}

footer {
    background-color: #016064;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 10px;
}

.footer-title {
    grid-column: span 4;
    font-weight: bold;
}

.footer-button {
    background-color: #c54545;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.footer-button:hover {
    background: #fff;
    color: #c54545;
}